#!/usr/bin/make -f

pkg	:= getopt
debpkg  := cl-$(pkg)

clc-source	:= usr/share/common-lisp/source
clc-systems	:= usr/share/common-lisp/systems
clc-files	:= $(clc-source)/$(pkg)
clc-tests	:= $(clc-source)/$(pkg-tests)
doc-dir		:= usr/share/doc/$(debpkg)
source-files	:= $(wildcard *.lisp)

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f debian/$(debpkg).postinst.* debian/$(debpkg).prerm.*
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs $(clc-systems) $(clc-files) $(clc-tests)
	dh_install $(pkg).asd $(source-files) $(clc-files)
	dh_link $(clc-files)/$(pkg).asd $(clc-systems)/$(pkg).asd

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i
	dh_installchangelogs -i
	dh_strip -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
